Date property not generated in the model

Date attributes are wrongly generated in the models.

Swagger object:

`
type: object
    properties:
      name:
        type: string
      model:
        type: string
      date:
        type: string
        format: date-time
`

Generated mock:

`
return mockItGenerator({
      type: "object",
      properties: {
        name: { type: "string" },
        model: { type: "string" },
        date: { type: "string", format: "date-time" }
      }
    });
`

The above looks correct I think.

The following line should be hit in the generator: https://github.com/acrontum/openapi-nodegen-mockers/blob/master/generators/stringGenerator.js#L47


As the swagger documentation says:

> String Formats
An optional format modifier serves as a hint at the contents and format of the string. OpenAPI defines the following built-in string formats:
date – full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
date-time – the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z

So I defined a string in the swagger with the date-time format.  I dont want and I didn't define a date object.

In the swagger online editor it detects this format and generates the following example:

`{
  "name": "string",
  "model": "string",
  "date": "2019-08-12T08:54:11.563Z"
}`


fixed and released on 2.4.1